<!--サイドバー
-->
<div class="side-bar-header">
<!--サイドバー（ヘッダー
-->
<div class="header-name">
    <!--名前の表示＆編集フォームへのリンク設置。
    current_user.name  ...ログインユーザーの名前を表示。
    edit_user_path(current_user)  ...編集フォーム（ログインユーザー）。
    -->
    <%= link_to current_user.name, edit_user_path(current_user) %>

  </div>
  <div class="create-room">
    <!--新規チャットルームの作成フォームへのリンク設置。
    -->
    <%= link_to "チャットを作成する", new_room_path %>
  </div>

</div>

<div class="rooms">
<!--サイドバー（ルーム一覧
-->
<div class="room">
  <!--作成されたチャットルームの表示
  -->
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <a href="#"><%= room.name %></a>
      </div>
    </div>
  <% end %>

</div>