<!--サイドバー
-->
<div class="side-bar-header">
<!--サイドバー（ヘッダー
-->
<div class="header-name">
    <!--名前の表示＆編集フォームへのリンク設置。
    current_user.name  ...ログインユーザーの名前を表示。
    edit_user_path(current_user)  ...編集フォーム（ログインユーザー）。
    -->
    <%= link_to current_user.name, edit_user_path(current_user) %>

  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>

</div>

<div class="rooms">
<!--サイドバー（ルーム一覧
-->
<div class="room">
    <div class="room-name">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">techroom2</a>
    </div>
  </div>

</div>